/.web-server-pid
/Symfony/app/config/parameters.yml
/Symfony/build/
/Symfony/phpunit.xml
/var/*
!/var/cache
/Symfony/var/cache/*
!var/cache/.gitkeep
!/var/logs
/Symfony/var/logs/*
!var/logs/.gitkeep
!/Symfony/var/sessions
/Symfony/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/Symfony/vendor/
/Symfony/web/bundles/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Angular//dist
Angular//dist-server
Angular//tmp
Angular//out-tsc

# dependencies
/Angular/node_modules

# IDEs and editors
/Angular/.idea
Angular/.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

